// Define variables for your color scheme

// For example:
$red: #FFC074;
$blue: #E8FAFD;
$turquoise: #B9F5F2;
$yellow: #F7D954;
$orange: #FA9E0A;
// $dk-green-text: #127825;
$dk-green: #00470D;
$md-green: #8FD694;
$green: #127825;
$lt-green: #F0FFE5;
$brown: #523906;
$gray: #2C3F2F;
$cream: #B3E283;
// $light-gray: #F4F4F4;
