<% content_for :meta_title, "Conversations | Green Thumb" %>
<% content_for :meta_description, "Conenct with your neighbours on Green Thumb. Share gardening tips and trade your produce" %>
<div class="container mt-5">
  <%= render 'shared/under_construction' %>
</div>
