<div class="mobile-navbar">
  <div class="navbar-menu-items">
    <div><i class="fas fa-clipboard-list"></i></div>
    <div>Tasks</div>
  </div>
  <div class="navbar-menu-items">
    <div><i class="fas fa-tint"></i></div>
    <div>Watering</div>
  </div>
  <div class="navbar-menu-items">
    <div><i class="fas fa-seedling"></i></div>
    <div>Garden</div>
  </div>
  <div class="navbar-menu-items">
    <div><i class="fas fa-cloud-sun"></i></div>
    <div>Weather</div>
  </div>
  <div class="navbar-menu-items">
    <div><i class="far fa-comments"></i></div>
    <div>Connect</div>
  </div>
</div>
