<div class="extra-padding-bottom-container">
  <div class="under-construction">
    <h1>Under Construction</h1>
    <p>Great connections will be growing here soon...</p>
    <div class="groot">
      <img src="https://media.giphy.com/media/26gR15Lsq9hR0F6RW/giphy.gif" alt="Baby Groot plugging in a cable">
    </div>
  </div>
</div>
