 <% content_for :meta_title, "Green Thumb | Make a New Garden" %>
    2: <% content_for :meta_description, "Give us the measurements and we'll help you plan your new garden!" %>

<div class="container mt-5">
  <h1>Make a new garden</h1>
  <div class="form">
    <%= simple_form_for @garden do |form| %>
      <%= form.input :name %>
      <%= form.input :address %>
      <%= form.button :submit, class: "garden-button" %>
    <% end %>
  </div>
</div>
