.alert {
  font-weight: bold;
  position: fixed;
  top: 60px;
  right: 8px;
  z-index: 1000;
}

.alert-info {
    color: $dk-green;
    background-color: $lt-green;
    border-color: $md-green;
}

.alert-warning {
    color: $green;
    background-color: $lt-green;
    border-color: $green;
}
