.banner {
  padding: 150px 0;
  background-image: linear-gradient(45deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("https://images.unsplash.com/photo-1457530378978-8bac673b8062?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: auto;
  color: white;
}

.banner h1 {
  font-size: 42px;
}

.banner p {
  /*opacity: 0.7;*/
  text-shadow: 0px 0px 8px rgba(0,0,0,.5);
  font-size: 24px;
  font-style: italic;
  padding-bottom: 24px;
}
