// alphabetize for ease of reference later
.garden-button {
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background-color: $md-green;
  display: flex;
  flex-grow: 0;
  font-size: 20px;
  height: 48px;
  justify-content: center;
  // line-height: 8px;
  text-align: center;
  text-decoration: none;
  margin: 24px;
  min-width: 200px;
  width: auto;
  a {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &:hover {
    color: $lt-green;
    text-decoration: none;
  }
}

.garden-buttons-group {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
  padding: 50px;
}

.garden-button-small {
  align-items: right;
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background-color: $md-green;
  display: flex;
  flex-grow: 0;
  font-size: 20px;
  justify-content: right;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 28px;
  // line-height: 8px;
  text-align: right;
  text-decoration: none;
  &:hover {
    color: $lt-green;
    text-decoration: none;
  }
}
