// alphabetize for ease of reference later
.add-task-flexbox {
  display: flex;
  justify-content: space-between;
  h1 {
    margin-bottom: 32px;
  }
}

.garden-button {
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background-color: $md-green;
  display: flex;
  flex-grow: 0;
  font-size: 20px;
  height: 48px;
  justify-content: center;
  // line-height: 8px;
  text-align: center;
  text-decoration: none;
  margin: 24px;
  min-width: 200px;
  width: auto;
  a {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &:hover {
    color: $lt-green;
    text-decoration: none;
  }
}

.garden-buttons-group {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
  padding: 50px;
}

.close-btn {
  background: none;
  border: none;
  display: flex;
  font-size: 16px;
  justify-content: center;
  position: absolute;
  right: 1px;
  top: -3px;
  width: 16px;
  opacity: 0.6;
  // line-height: 8px;
}

.no-button-button {
  background: none;
  border: none;
}


.new-task-button {
  align-items: center;
  background-color: $green;
  border-radius: 8px 0 0 8px;
  color: white;
  display: flex;
  font-size: 24px;
  height: 64px;
  padding: 8px;
  position: absolute;
  text-align: left;
  right: 0;
  width: 15%;
  h1 {
    font-size: 56px;
  }
}

#add-task-plus {
  font-size: 56px;
  margin-right: 24px;
}

@media screen and (max-width: 600px) {
  .new-task-button {
    width: 30%;
  }
}
