.dashboard-card {
  align-items: center;
  background: white;
  border-left: 16px solid $md-green;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: $dk-green;
  display: flex;
  height: 90px;
  justify-content: space-between;
  line-height: 20px;
  margin-bottom: 24px;
  padding: 16px;
  max-width: 500px;
  width: 75%;
  a {
    color: $dk-green;
    font-family: merriweather;
    font-size: 24px;
    text-decoration: none;
  }
  i {
    margin-left: 12px;
    color: $dk-green;
  }
}

.dashboard-card-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  width: auto;
}

.task-card {
  align-items: left;
  background: white;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: $gray;
  display: flex;
  font-family: special elite;
  height: auto;
  justify-content: space-between;
  line-height: 20px;
  margin: 40px 0 0 auto;
  min-height: 100px;
  padding: 32px 16px 16px 32px;
  width: 85%;
}

#task-plus-date {
  align-items: flex-begin;
  display: flex;
  flex-direction: column;
  justify-content: center;
    .date{
    font-size: 12px;
    color: $brown;
    opacity: 0.7;
  }
}

#task-desc {
  color: $dk-green;
  font-family: merriweather;
  font-size: 21px;
  line-height: 24px;
  max-width: 75%;
  position: relative;
}
.task-title{
  display: flex;
  justify-content: space-between;
  #task-icons{
    position: relative;
    top: 0;
    right: 20px;
  }
}
.watering-card {
  background: white;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: $dk-green;
  display: flex;
  font-family: merriweather;
  font-weight: bold;
  height: 90px;
  justify-content: space-between;
  line-height: 20px;
  margin-bottom: 12px;
  padding: 35px;
  width: 75%;
}

@media screen and (max-width: 600px) {
  .dashboard-card {
    width: 95vw;
  }
  .task-card {
    height: auto;
    min-height: 96px;
    h1, h2 {
      font-size: 18px;
    }
  }
}
