#plot-container {
  padding: 0;
  margin: 0 auto;
  box-shadow: 0 0 8px black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                    url("https://res.cloudinary.com/dm6mj1qp1/image/upload/v1583523873/green-thumb/1_d8DyNLUIa8xo5rGrO-2FSg_v7kggg.jpg");
  background-position: center;
  background-size: cover;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 12px;

}

