#plot-container {
  padding: 0;
  margin: 0 auto;
  box-shadow: 0 0 8px black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                    url("https://res.cloudinary.com/dm6mj1qp1/image/upload/v1583523873/green-thumb/1_d8DyNLUIa8xo5rGrO-2FSg_v7kggg.jpg");
  background-position: center;
  background-size: cover;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 12px;
}

.card-category {
  background-size: cover;
  background-position: center;
  font-family: special elite;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.modal-header .header {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
