// please alphabetize for ease of reference later

.list {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-bottom: 160px;
  width: 100%;
}

#dashboard-list {
  display: flex;
  justify-content: space-around;
  i {
    padding-right: 50px;
    font-size: 42px;
    color: $dk-green;
  }
}

@media screen and (max-width: 600px) {
  #dashboard-list {
    margin: 0 auto;
    i {
      font-size: 24px;
    }
    a {
      font-size: 20px;
    }
  }
}
