// please alphabetize for ease of reference later

.list {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-bottom: 160px;
  width: 100%;
}

#dashboard-list {
  display: flex;
  justify-content: space-around;
  i {
    padding-right: 50px;
    font-size: 42px;
    color: $dk-green;
  }
}
