// alphabetize for ease of reference later
.mobile-navbar {
  // align-items: center;
  background-color: $brown;
  bottom: 0;
  box-shadow: inset 0 0 32px rgba(0,0,0,0.4);
  color: $cream;
  display: flex;
  height: 80px;
  justify-content: space-around;
  left:0;
  padding: 24px 16px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  a {
    color: $cream;
  }
}

.navbar-menu-items {
  align-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p{
    font-size: 12px;
    margin-bottom: 0;

  }
  i {
    color: $cream;
    font-size: 40px;
  }
}
