.modal-content {
  background-color: $cream;
}

.modal-header {
  background-color: $cream;
  border-radius: 5px 5px 0 0;
  font-size: 24px;
  text-align: center;
}

.modal-footer {
  background-color: $cream;
  border-radius: 0 0 5px 5px;
}
