.navbar-lewagon {
  justify-content: space-between;
  background: $cream;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 56px;
}
.navbar-nav .dropdown-menu {
  background-color: $lt-green;
  border: 1px solid rgba(44, 63, 47, .5);
  position: absolute;
}

.dropdown-menu{
  background-color: none;
  color: $dk-green;
  border: 0px;
  text-align: right;
  margin-right: 8px;
}
.dropdown-item{
  padding-right: 12px;
  color: $dk-green;
  background: $cream;
  border-bottom: 1px solid rgba(44, 63, 47, .5);
  &:hover{
    color: $dk-green;
    font-weight: bolder;
  }
  a {
    padding-right: 12px;
  }
}
