#watering-header {
  font-family: "Merriweather", "Helvetica", "serif";
  font-size: 20px;
  font-weight: bolder;
}


// alphabetize for ease of reference later
.watering-plot-card {
  align-item: center;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: $dk-green;
  display:flex;
  font-family: merriweather;
  font-weight: bold;
  height: 90px;
  line-height: 20px;
  margin-bottom: 24px;
  padding: 35px;
  position: absolute;
  max-width: 500px;
  width: 100%;
}

.watering-plot-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 240px;
  max-height: 88px;
  width: 50%;
  height: 50%;
}

.watering-plot-card-info {
  display: flex;
  width: 100%
}

.plot {
  display: flex;
  width: 100%;
    img {
      filter: invert(93%) sepia(51%) saturate(503%) hue-rotate(52deg) brightness(92%) contrast(81%);
    }
}

.info-water {
  text-align: left;
  min-width: 100px;
}
// #ammount_L {
//   width: 50%;
//   display:flex;
//   justify-content: space-between;
//   align-content: center;
// }

.watering-ammount-L {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  display:flex;
  justify-content: space-between;
   align-items: center;


}

#wtr-btn {
  margin: 0;
  display: flex;
  flex-shrink: 2;
  min-width: 80px;
}
