
// alphabetize for ease of reference later
.watering-plot-card {
  align-item: center;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: $dk-green;
  display:flex;
  font-family: merriweather;
  font-weight: bold;
  height: 90px;
  line-height: 20px;
  margin-bottom: 24px;
  padding: 35px;
  position: absolute;
  max-width: 500px;
  width: 100%;
}

.watering-plot-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 240px;
  max-height: 88px;
  width: 50%;
  height: 50%;
}

.watering-plot-card-info {
  display: flex;
  width: 100%
}
