.weather-alert{
  color: white;
  text-align: left;
  background-color: $red;
  position: relative;
  padding: 16px 0px 8px 0px;

  p{
    margin-bottom: 0px;
  }
  .marquee{
    white-space:no-wrap;
    overflow:hidden;
    .marquee-text{
      white-space:nowrap;
      display:inline;
      width:auto;
    }
  }
  .dismiss_alert{
    color: $lt-green;
    opacity: 0.7;
    text-decoration: none;
    position: absolute;
    top:-2px;
    right: 4px;
    &:hover{
    text-decoration: none;
    opacity: 1;
    font-weight: bolder;
    }
  }
}
