<h1><%= @plot.name %></h1>

<% @plant_types.each do |plant_type| %>
  <p>
    <%= plant_type.name %>
  </p>
  <% end %>
  <% if true %>
    <%= link_to "done?", "/plots/#{@plot[:id]}/waterings",
        method: "PATCH",
        data: { confirm: "Are You Sure You Want to complete this watering task?"} %>
  <% end %>
<% end %>
