<!-- <div class="container"> -->
<% content_for :meta_title, "Green Thumb | Your plants need water !" %>
<% content_for :meta_description, "Checkout out which of your plot need water" %>
<div class="menu-headline">
  <h1>Don't forget to water!</h1>
</div>
<div class="container">
  <% if @plots.empty? %>
    <h3>No more plants to water here. Good job!</h3>
  <% else %>
    <div class="list">
      <% @plots.each_with_index do |plot, i| %>
        <%= link_to plot_waterings_path(plot), class: "plot-card" do %>
          <div class="plot-card-inner-wrapper">
              <%= cl_image_tag @main_plant_img[i], id: "plot-card-icon" %>
              <p><%= plot.name %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
